Backend/.env
Backend/__pycache__/DocxWriter.cpython-313.pyc
Backend/__pycache__/FileAPI.cpython-313.pyc
Backend/__pycache__/getAPI.cpython-313.pyc
Backend/__pycache__/getCode.cpython-313.pyc
Backend/__pycache__/getData.cpython-313.pyc
Backend/__pycache__/main.cpython-313.pyc
